@import "../../../../utils/colors.scss";

.file {
  margin: 10px 0;
  border-bottom: 2px solid $font-color;
  display: grid;
  grid-template-columns: 1fr 4fr repeat(4, 1fr);
  align-items: center;
  &:hover {
    transform: scale(1.02);
  }

  &__img {
    justify-content: center;
    width: 30%;
  }
  &__data {
    grid-column-start: 5;
    justify-content: center;
  }
  &__size {
    grid-column-start: 6;
    justify-content: center;
  }
}
